@inject NavigationManager Navigation

<AuthorizeView>
    <Authorized>
        Hello, @(context.User.Claims.FirstOrDefault(x => x.Type == "FirstName")?.Value ?? context.User.Identity?.Name)
        <a href="/authentication/logout">Logout</a>
    </Authorized>
    <NotAuthorized>
        <a href="/authentication/login">Login</a>
    </NotAuthorized>
</AuthorizeView>
