@if(IsVisible)
{
<div class="alert alert-secondary mt-4">
    <span class="oi oi-pencil me-2" aria-hidden="true"></span>
    <strong>@Title</strong>

    <span class="text-nowrap">
        @Text
    </span>
</div>
}

@code {

    [Parameter]
    public string Title { get; set; }

    [Parameter]
    public string Text { get; set; }

    [Parameter]
    public bool IsVisible { get; set; }

    public void Show(string title, string text)
    {
        Title = title;
        Text = text;
        this.IsVisible = !this.Title.IsNullOrEmpty() || !this.Text.IsNullOrEmpty();
        StateHasChanged();
    }
}