@using Web.UI.Components.Authentication.Shared

@inherits LayoutComponentBase

<PageTitle>HanyCo MES 2.0 Infrastructure</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4 auth">
            <AuthStatus />
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
