@page "/System/AspNetUser/details"
@page "/System/AspNetUser/details/{Id}"

@namespace Mes.Infra.Auth.Pages

@using Microsoft.Extensions.Caching.Memory
@using Microsoft.AspNetCore.Components
@using Mes.Infra.Auth

@inject NavigationManager NavigationManager
@inject IMemoryCache _memoryCache
@inject NavigationManager _navigationManager

@inherits HanyCo.Infra.Blazor.PageBase<AspNetUserViewModel>


<div class='row'>
    <AspNetUserDetailsComponent DataContext='@this.DataContext?.AspNetUserDetailsDto' PageDataContext='@this.DataContext' @bind-EntityId='this.Id'/>
</div>
