@page "/HumanResources/AspNetUser"

@namespace Mes.HumanResources.Pages

@using Microsoft.Extensions.Caching.Memory
@using Microsoft.AspNetCore.Components
@using Mes.HumanResources.Dtos

@inject NavigationManager NavigationManager
@inject IMemoryCache _memoryCache
@inject NavigationManager _navigationManager

@inherits HanyCo.Infra.Blazor.PageBase<AspNetUserViewModel>


<div class='row'>
    <AspNetUsersListComponent DataContext='@this.DataContext?.AspNetUsersListDto' PageDataContext='@this.DataContext'/>
</div>
