@page "/HumanResources/Person/details"
@page "/HumanResources/Person/details/{Id}"

@namespace Mes.HumanResources.Pages

@using Microsoft.Extensions.Caching.Memory
@using Microsoft.AspNetCore.Components
@using Mes.HumanResources.Dtos

@inject NavigationManager NavigationManager
@inject IMemoryCache _memoryCache
@inject NavigationManager _navigationManager

@inherits HanyCo.Infra.Blazor.PageBase<PersonViewModel>


<div class='row'>
    <PersonDetailsComponent DataContext='@this.DataContext?.PersonDetailsDto' PageDataContext='@this.DataContext' @bind-EntityId='this.Id'/>
</div>
