@page "/HumanResources/Person"

@namespace HumanResources.Pages

@using Microsoft.Extensions.Caching.Memory
@using Microsoft.AspNetCore.Components
@using HumanResources.Dtos

@inject NavigationManager NavigationManager
@inject IMemoryCache _memoryCache
@inject NavigationManager _navigationManager

@inherits HanyCo.Infra.Blazor.PageBase<HumanResources.Dtos.PersonViewModel>


<div class='row'>
    <PeopleListComponent DataContext='@this.DataContext?.PeopleListDto' PageDataContext='@this.DataContext'/>
</div>
