@namespace Test.HumanResources

@using HanyCo.Infra.Blazor
@using Library.Cqrs.Models.Queries
@using Library.Cqrs.Models.Commands
@using Microsoft.Extensions.Caching.Memory
@using Microsoft.AspNetCore.Components
@using Test.HumanResources

@inject IQueryProcessor _queryProcessor
@inject ICommandProcessor _commandProcessor
@inject IMemoryCache _memoryCache
@inject NavigationManager _navigationManager

@inherits ComponentBase<List<PersonDto>, PersonViewModel>


<div class="row">
<button name='NewButton' class='col-1 btn btn-success' @onclick='NewButton_OnClick'>New</button>
</div>
<div class="row">
<table class="table">
    <thead>
        <tr>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        @if (this.DataContext is not null)
            @foreach (var item in this.DataContext)
            {
        <tr>
            <td><button id="" name="" @onclick="@(() => Edit(item.Id))">Edit</button></td>
            <td><button id="" name="" @onclick="@(() => Delete(item.Id))">Delete</button></td>

        </tr>
            }
    </tbody>
</table>

</div>
