@namespace Test.HumanResources

@using Library.Cqrs.Models.Queries
@using Library.Cqrs.Models.Commands
@using Microsoft.Extensions.Caching.Memory
@using Microsoft.AspNetCore.Components
@using HanyCo.Infra.Blazor
@using Test.HumanResources

@inject IQueryProcessor _queryProcessor
@inject ICommandProcessor _commandProcessor
@inject IMemoryCache _memoryCache
@inject NavigationManager _navigationManager

@inherits ComponentBase<PersonDto,PersonViewModel>

<div class='row'>
</div>
<div class='row'>
    <label id='IdLabel' name='IdLabel' class='col-2' disabled='disabled'>Id</label>
    <input id='IdNumericTextBox' name='IdNumericTextBox' class='col-5' type='number' disabled='disabled' @bind='this.DataContext.Id'/>
</div>
<div class='row'>
    <label id='FirstNameLabel' name='FirstNameLabel' class='col-2'>First Name</label>
    <input id='FirstNameTextBox' name='FirstNameTextBox' class='col-5' type='text' @bind='this.DataContext.FirstName'/>
</div>
<div class='row'>
    <label id='LastNameLabel' name='LastNameLabel' class='col-2'>Last Name</label>
    <input id='LastNameTextBox' name='LastNameTextBox' class='col-5' type='text' @bind='this.DataContext.LastName'/>
</div>
<div class='row'>
    <label id='DateOfBirthLabel' name='DateOfBirthLabel' class='col-2'>Date Of Birth</label>
    <input id='DateOfBirthDatePicker' name='DateOfBirthDatePicker' class='col-5' type='datetime-local' @bind='this.DataContext.DateOfBirth'/>
</div>
<div class='row'>
    <label id='HeightLabel' name='HeightLabel' class='col-2'>Height</label>
    <input id='HeightNumericTextBox' name='HeightNumericTextBox' class='col-5' type='number' @bind='this.DataContext.Height'/>
</div>
<div class='row'>
    <button name='SaveButton' class='col-2 offset-2 btn btn-success' @onclick='SaveButton_OnClick'>Save</button>
    <button name='BackButton' class='col-2 offset-1 btn btn-success' @onclick='BackButton_OnClick'>this._navigationManager.NavigateTo("/HumanResources/Person");</button>
</div>
