@page "/HumanResources/Person"

@namespace HumanResources.Dtos.Pages

@using Library.Cqrs.Models.Queries
@using Library.Cqrs.Models.Commands
@using Microsoft.Extensions.Caching.Memory
@using Microsoft.AspNetCore.Components
@using HumanResources.Dtos

@inject NavigationManager NavigationManager
@inject IQueryProcessor _queryProcessor
@inject ICommandProcessor _commandProcessor
@inject IMemoryCache _memoryCache
@inject NavigationManager _navigationManager

@inherits HanyCo.Infra.Blazor.PageBase<HumanResources.Dtos.PersonViewModel>


<div class='row'>
    <PeopleListComponent DataContext='@this.DataContext?.PeopleListDto' PageDataContext='@this.DataContext'/>
</div>
