@using Microsoft.AspNetCore.WebUtilities;
@inject NavigationManager Navigation

<AuthorizeView>
    <Authorized>
        Hello, @(context.User.Claims.FirstOrDefault(x => x.Type == "FirstName")?.Value ?? context.User.Identity?.Name)
        <button type="button" class="btn btn-link" @onclick="@(() => this.NavigateTo("/authentication/logout"))">Logout</button>
    </Authorized>
    <NotAuthorized>
        <button type="button" class="btn btn-link" @onclick="@(() => this.NavigateTo("/authentication/login"))">Login</button>
    </NotAuthorized>
</AuthorizeView>

@code {

    [Parameter]
    public string ReturnUrl { get; set; }
    private void NavigateTo(string url)
    {
        var a = Uri.EscapeDataString(Navigation.Uri);
        var uri = this.ReturnUrl.IsNullOrEmpty() ? url : QueryHelpers.AddQueryString(url, "returnUrl", this.ReturnUrl);
        this.Navigation.NavigateTo(uri);
    }
}