@page "/HumanResources/Person/details"

@namespace Test.HumanResources.Pages

@using Library.Cqrs.Models.Queries
@using Library.Cqrs.Models.Commands
@using Microsoft.Extensions.Caching.Memory
@using Microsoft.AspNetCore.Components
@using Test.HumanResources

@inject NavigationManager NavigationManager
@inject IQueryProcessor _queryProcessor
@inject ICommandProcessor _commandProcessor
@inject IMemoryCache _memoryCache
@inject NavigationManager _navigationManager

@inherits HanyCo.Infra.Blazor.PageBase<PersonViewModel>


<div class='row'>
    <PersonDetailsComponent DataContext='@this.DataContext?.PersonDetailsDto' PageDataContext='@this.DataContext'/>
</div>
