@page "/authentication/login"

@layout MainLayout
@inject NavigationManager Nav;
@inject AuthenticationStateProvider authenticator

<PageTitle>@("MES") - Login</PageTitle>

<h1>
    Login
</h1>

<button type="button" class="btn btn-primary" @onclick="LoginAsync">Login</button>

@code
{
    async Task LoginAsync()
    {
        //await authenticator.Login(jwtToken);

        Nav.NavigateTo(string.Empty, forceLoad: false);

        await Task.CompletedTask;
    }
}