@page "/authentication/login"
@* @layout MainLayout *@
@inject NavigationManager Nav;

<PageTitle>@("MES") - Login</PageTitle>

<button type="button" class="btn btn-primary" @onclick="LoginAsync">Login</button>

@code
{
    async Task LoginAsync()
    {
        Nav.NavigateTo("/");

        await Task.CompletedTask;
    }
}