@page "/authentication/logout"

@using HanyCo.Infra.Security.Identity;
@using HanyCo.Infra.Security.Client.Providers;

@attribute [Authorize]
@layout MainLayout

@inject NavigationManager Nav;
@inject CustomAuthenticationStateProvider _authenticator;

<PageTitle>@("MES") - Logout</PageTitle>

<div class="container alert alert-warning">
    <h1 class="text-center display-6">
        Are you sure you want to logout?
    </h1>
    <div class="gap-2 d-md-flex justify-content-md-end">
        <button type="button" class="btn btn-danger me-md-2" @onclick="LogoutAsync">Logout</button>
    </div>
</div>

@code
{
    async Task LogoutAsync()
    {
        await _authenticator.LogOutAsync();

        Nav.NavigateTo(string.Empty, forceLoad: false);

        await Task.CompletedTask;
    }
}