    @page "/counter"

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>


<AuthorizeView>
    <NotAuthorized>
        <p>Unable to increase the counter. You are not authorized to increase the value.</p>
    </NotAuthorized>
    <Authorized>
        <button class="btn btn-primary" @onclick="IncrementCount">Click me</button>
    </Authorized>
</AuthorizeView>
<hr />
<AuthorizeView Policy="CanSave">
    <NotAuthorized>
        <p>Unable to save the counter. You are not authorized to save.</p>
    </NotAuthorized>
    <Authorized>
        <button class="btn btn-primary" @onclick="IncrementCount">Save</button>
    </Authorized>
</AuthorizeView>
@* <AuthorizeView Policy="CanCreate, CanSave">
    <NotAuthorized>
        <p>Unable to create a new counter. You are not authorized to create a new one or save it.</p>
    </NotAuthorized>
    <Authorized>
        <button class="btn btn-primary" @onclick="IncrementCount">Create new</button>
    </Authorized>
</AuthorizeView> *@


@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
